@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Nova+Flat&display=swap";
body{
    background: url("library-hero.jpg") no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    border:none;
    padding: 0;
    margin: 0;
    font-family:sans-serif;
}

.container{
    width:100%;
    height:100%;
    overflow:hidden;
}
#col{
    width: 50%;
    height: 100%;
    text-align: center;
    display:inline-block;
    position:relative;
}

.login-box{
    width: 280px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
}

.login-box h1{
    float:left;
    font-size: 40px;
    border-bottom: 6px solid navy;
    margin-bottom: 50px;
    padding:13px 0;
}

.login-box p{
    font-size:20px;
}

.textbox{
    width:100%;
    overflow:hidden;
    font-size: 20px;
    padding:8px 0;
    margin:8px 0;
    border-bottom:1px solid navy;
    font-size: 20px;
}

.textbox i{
    width:26px;
    float:left;
    text-align:center;
}

.textbox input{
    float:left;
    border:none;
    outline:none;
    background:none;
    color:white;
    font-size:25px;
    width:80%;
    margin:0 10px;
}

.button{
    width: 100%;
    background:none;
    border: 2px solid navy;
    color:white;
    padding: 5px;
    font-size:18px;
    cursor: pointer;
    margin: 12px 0;
}

.login-box p a{
    text-decoration: none;
}

#left-text{
    position:relative;
    float:left;
    top:50%;
    left:30%;
    transform: translate(-50%, -50%);
    font-family:sans-serif;
    color:navy;
    border: 3px solid darkred;
    border-radius: 10px;

}

#left-text h1{
    font-size:40px;
    margin:10px 10px 0px 10px;
}


#left-text h3{
    margin: 7px 10px 50px;
    font-size:25px;
    font-family: cursive;
}

#left-text p{
    position: relative;
    border:0;
    padding:0;
    margin:10px 10px 20px;
    font-weight:lighter;
    font-size:25px;
}

#col >h1{
    font-family: 'Nova Flat', cursive;
    float:left;
    color:slategray;
    margin:5px 5px;
    font-size:40px;
}

#then{
    font-family: 'Times New Roman';
    color: crimson;;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}

