<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Home-RadForums</title>
        <link rel="stylesheet" href="template.css">
        <link rel="icon" href="../images/logotitle.png" type="image/x-icon">
    </head>
    <body>
        <div id="opacity">
            <div id="homepage">
                <div id="toppage">
                    <img id="logo" src="../images/logo2.png">
                    <div id="navbar">
                        <ul>
                            <li class="nav-op"><a>SUBJECT</a>
                                <ul>
                                        <li><a href="../Subject Page/01.php">UE18CS205</a></li>
                                        <li><a href="../Subject Page/02.php">UE18CS204</a></li>
                                        <li><a href="../Subject Page/03.php">UE18CS203</a></li>
                                        <li><a href="../Subject Page/04.php">UE18CS202</a></li>
                                        <li><a href="../Subject Page/05.php">UE18CS201</a></li>
                                </ul>
                            </li>
                            <li class="nav-op"><a>ACTIVITY</a>
                                <ul>
                                    <li><a>CALENDAR</a></li>
                                    <li><a href="../Group Info/groupinfo.php">GROUP INFO</a></li>
                                    <li><a href="../activity_page.html">MY ACTIVITY</a></li>
                                </ul>
                            </li>
                            <li class="nav-op"><a>MORE</a>
                                <ul>
                                    <li><a href="../About Us/aboutus.php">ABOUT US</a></li>
                                    <li><a>REPORT A BUG</a></li>
                                    <li><a>FEEDBACK FORM</a></li>
                                </ul>
                            </li>
                            <li class="nav-op"><a>OTHER FORUMS</a>
                                <ul>
                                    <li><a>GD FORUMS</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="user-bar">
                        <div class="user">
                            <div id="profile-pic">
                                <img src="" id="picture">
                            </div>
                            <div id="username">
                                <div class="btn-group">
                                    <button type="button" id="sb-user" class="btn btn-primary">Username</button>
                                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">                                      
                                    <a class="dropdown-item" href="../userprofile.html">My Profile</a>
                                    <a class="dropdown-item" href="#">Followed Content</a>
                                    <a class="dropdown-item" href="#">Settings</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" id="logout" href="#">Logout</a>
                                    </div>
                                </div>
                            </div>            
                        </div>
                        <div id="search-bar">
                            <input class="search-txt" type="text" name="" placeholder="Type to search">
                            <a class="search-btn" href="#">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                </div>
                <div class="container">
                    
                </div>
                <div id="bottompage">
                    <p>Switch theme:</p>
                    <div class="redirects" id="icons">
                        <a href=""><i class="fa fa-facebook-f fa-2x"></i></a>
                        <a href=""><i class="fa fa-github fa-2x"></i></a>
                        <a href=""><i class="fa fa-envelope fa-2x"></i></a>
                    </div>
                    <div class="redirects" id="tc">
                        <a href="">Terms & Conditions</a>
                        <a href="">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
               <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-firestore.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-analytics.js"></script>
                    
        <script>
            // Your web app's Firebase configuration
            var firebaseConfig = {
                apiKey: "AIzaSyCQ2E0UUN0VHrsDRsIkRa7b5dnsomqaxWg",
                authDomain: "radforums-420ez.firebaseapp.com",
                databaseURL: "https://radforums-420ez.firebaseio.com",
                projectId: "radforums-420ez",
                storageBucket: "radforums-420ez.appspot.com",
                messagingSenderId: "308327911724",
                appId: "1:308327911724:web:4c2c2ca9a2b2574a985c89",
                measurementId: "G-WDQMS6T904"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            firebase.analytics();

            //make auth and firestore references
            const auth=firebase.auth();
            const db=firebase.firestore();

        </script>
        <script src="template.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>